
<app-main-menu></app-main-menu>

<div class="wrapper">

  <div class="category animated fadeIn" 
       style="background-color: orangered; animation-delay: 0.5s;"
       (click)="openFitness();">
  </div>

  <div class="category animated flipInY" 
       style="background-color: brown; animation-delay: 1s;"
       (click)="openSeriesAndMovies();">

  </div>

  <div class="category animated fadeIn" 
       style="background-color: cadetblue; animation-delay: 1.5s;"
       (click)="openAutoWater();">

  </div>

</div>
