<app-main-menu></app-main-menu>

<div class="wrapper">

  <table class="table table-striped table-hover">
    <thead>
      <th>יום שבת</th>
      <th>יום שישי</th>
      <th>יום חמישי</th>
      <th>יום רביעי</th>
      <th>יום שלישי</th>
      <th>יום שני</th>
      <th>יום ראשון</th>
    </thead>

    <tbody>

        <tr>
          <td>
            <div class="timeOrder">
                <p>
                    <mat-form-field class="example-full-width timeScale">
                        <input matInput>
                        </mat-form-field>
                  שעת התחלה
                </p>

                <p>
                    <mat-form-field class="example-full-width timeScale">
                        <input matInput>
                        </mat-form-field>
                  שעת סיום
                </p>
            </div>
          </td>

          <td>
              <div class="timeOrder">
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת התחלה
                  </p>
  
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת סיום
                  </p>
              </div>
          </td>

          <td>
              <div class="timeOrder">
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת התחלה
                  </p>
  
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת סיום
                  </p>
              </div>
          </td>

          <td>
              <div class="timeOrder">
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת התחלה
                  </p>
  
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת סיום
                  </p>
              </div>
          </td>

          <td>
              <div class="timeOrder">
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת התחלה
                  </p>
  
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת סיום
                  </p>
              </div>
          </td>

          <td>
              <div class="timeOrder">
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת התחלה
                  </p>
  
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת סיום
                  </p>
              </div>
          </td>

          <td>
              <div class="timeOrder">
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת התחלה
                  </p>
  
                  <p>
                      <mat-form-field class="example-full-width timeScale">
                          <input matInput>
                          </mat-form-field>
                    שעת סיום
                  </p>
              </div>
          </td>
        </tr>

    </tbody>
  </table>

</div>